
export(scaleRadius)
export(GeomCircle)
export(geom_circle)

export(recursiveCorPlot)

#import(stats)
import(dplyr)
import(tibble)
import(patchwork)
import(reshape2)
import(ggplot2)
import(ggdendro)

importFrom("grDevices", "colorRampPalette")
